<!-- 회원가입 폼 http로 테스트만 할 예정이라 따로 html파일 더 만들 필요 없음-->
<form action="/login/signup" method="post">
    <h1>Create Account</h1>

    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button class="form_btn" type="submit">Sign Up</button>
</form>

<!-- 로그인 폼 -->
<form action="/login/signin" method="post">
    <h1>Sign In</h1>

<!--    <div class="social-links"></div>-->
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button class="form_btn" type="submit">Sign In</button>
</form>

<!--input type text = 자유로운 텍스트 입력, 유효성 검사 없음, 입력 값 화면에 표시-->
<!--input type email = 이메일 형식만 허용, @와 도메인 부분이 있어야 유효, 모바일 기기에서 이메일 특화 키보드 표시-->
<!--input type password = 입력 값이 화면에 표시되지 않음(비밀번호 숨김 처리), 민감한 정보 입력을 위한 필드-->
